.app {

  &__cards-wrapper {
    margin-top: 10rem;

    @include --mobile {
      margin-top: 5rem;
    }
  }

  &__cards-container {
    margin: -0.5rem;
    display: flex;
    flex-wrap: wrap;

    @include --mobile {
      margin: -2px;
    }
  }
}